@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

/* navigation bar style starts here  */
nav {
    font-family: "Old Standard TT";
    color: white;

}

nav ul {
    display: flex;
    list-style: none;
    height: 65px;
    background-color: black;
    align-items: center;

}

nav ul li {
    padding: 0px 12px;
}

.brand {
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.brand img {
    width: 53px;
    padding: 0 10px;

}

/* navigation bar style ends here  */

/* container design starts here */
.container {
    height: 60vh;
    background-color: BLACK;
    color: white;
    display: flex;
    width: 70%;
    margin: 20px auto;
    border-radius: 12px;
    padding: 34px;
    background: url('img/bg.jpg');
    background-size: cover;
    overflow: scroll;

}

    /* song icon arrangement starts here */
    .songItem {
        background-color: white;
        color: black;
        height: 30px; 
        width: 70%;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 10px;
        box-shadow: 30px 20px 35px rgb(15, 15, 15);
        border: 2px solid black;
        border-radius: 25px;
        justify-content: space-between;
        padding: 0 20px;
        cursor: pointer;

    }

        .songItem img {
        height: 90%;
        border-radius: 50%;
        margin: 10px 0;
        }

    /* song icon arrangement ends here */

/* container design ends here */

/* bottom design starts here */
.bottom {
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aquamarine;
    flex-direction: column;
}

    #myProgressBar {
        width: 80vw;
        cursor: pointer;
    }

    .icons {
        margin-top: 15px;
        display: flex;
        gap: 3rem;
    }

    .icons i {
        cursor: pointer;
    }
    .songInfo{
        position: absolute;
        left: 10vw;
    }
    .songInfo img{
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }
    

/* bottom design ends here */